body,ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6,input,fieldset,legend,td,th,form,textarea,header,section,article,aside,figure,footer,nav{margin:0;padding:0}
li{list-style:none}
img{border:none;}

h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
em,i{font-style:normal}
table{border-collapse:collapse}
a{text-decoration:none}
fieldset{border:none}
body a:hover{text-decoration:none;}
body {font-family: "arial";font-size: 12px;line-height: 150%;color: #5e5e5e;}

#top{height:40px; background:#f9f9f9; border-bottom:1px solid #D9D9D9;}
#daohang{height:40px; margin:0 auto; line-height:40px; font-size: 12px; width:1190px;}

#dao1,#dao2{float: left;}

#dao1{color:#999;}
#dao1 a{color:red;}
#dao2 img{ line-height:40px;}
#dao2 {float: right;}
#dao2 ul li{float:left;}
#dao2 ul li:nth-child(2) ul li{float:none;}
#dao2 ul li a{border-left:1px solid #D9D9D9;padding:0 10px; color:#999; }
#dao2 ul li a:hover{color: deepskyblue;}

#dao2 ul li:nth-child(5) a:hover{color:#999;}
#dao2 ul li:nth-child(1) a{border:none;}

#dao2 .dao201{height:36px; width:95px; position: relative;  line-height: 40px; border: 1px solid #f9f9f9 ;}

#dao2 ul li:nth-child(2) ul{position: absolute;background:#fff; display: none; border: 1px solid #D9D9D9 ; border-top: none; top:35px; width:95px; left:-1px;}
#dao2 ul li:nth-child(2) ul li a{ border:none;font-size:12px;}


#dao2 ul li:nth-child(2):hover ul{display: block;height:125px; z-index: 10;}

/*#dao2 ul li:nth-child(2):hover{background:#fff;margin-top:4px;border-bottom: none; }*/
#dao2 ul .dao201 .dao201_1{background: url(../img/qian.png) no-repeat left top;background-position: 70px 5px; padding-right: 20px;}
#dao2 ul .dao201:hover .dao201_1{background-position: 70px -20px;}

 
#dao2 ul .dao201:hover{background:#fff; border: 1px solid #D9D9D9 ; border-bottom: none; margin-top:4px;line-height: 31px; width:95px;}




#dao2 ul li:nth-child(5){position: relative; height:36px; line-height: 37px; width:70px; border:1px solid #f9f9f9 ;}
#dao2 ul li:nth-child(5) a span img{margin-bottom: 1px;}
#dao2 ul li:nth-child(5) ul{width:190px; height:190px; background:#fff; border:1px solid #D9D9D9 ; line-height: 190px; position: absolute; right:-95px;border-top:none; top: 39px;display: none;}
#dao2 ul li:nth-child(5) ul li img{margin-left:18px;width:150px; height:150px;}

#dao2 ul li:nth-child(5):hover ul{display: block;height:194px;top:35px;}
 /* #dao2 ul li:nth-child(5):hover{ background:#fff; border:1px solid #D9D9D9 ;margin-top:4px; border-bottom: none; }*/
 #dao2 ul li:nth-child(5):hover{background:#fff; border: 1px solid #D9D9D9 ; margin-top:4px;line-height: 30px;border-bottom: none; z-index: 10;}




.tu {width:1190px; margin:0 auto;}



#sousuo{padding-top:30px;width:1220px; margin:0 auto;}
#sou2{text-align: center; margin-left:60px;}
#sou2 input{border:#0083FF solid 3px; height:36px; width:410px; padding-top:4px;}
#sou2 button{border:none; height:36px;width:92px; background:#0083FF; font-size:20px; color:#fff;}
#sou2 p{text-align: left; padding-left: 32px; color:#B9B9B9; font-size:12px; padding-top:10px;}
#sou2 p a{color:firebrick;font-size:12px;}
#sou2 p a:nth-child(3){color:#999;}
#sou2 p a:nth-child(4){color:#999;}
#sou2 p a:nth-child(3):hover{color:#299aef;}
#sou2 p a:nth-child(4):hover{color:#299aef;}


#sou3{border:#E9E9E9 1px solid; height:38px; width:132px; background:#F9F9F9; float: right;}
#sou3 a{font-size:12px; line-height:38px ; color:#9D9D9D; position: relative;}
#sou3 a img{margin-bottom: 10px; padding-right: 4px;}
#sou3 a:hover b{ display: block;}
#sou3 a b{display: block; position:absolute;height:48px; width:320px; left:-204px; top:25px; border:red 1px solid; border-top:red 2px solid; display: none;}



#list{width:1190px;margin:0 auto;height:36px; border-bottom: 2px solid #1985D9;}
.fenlei{float:left;position: relative;}
.lie{width: 180px;height: 36px;line-height: 36px;overflow: hidden;background: #1985d9;cursor: pointer;color: #fff;font-size: 14px;text-indent: 14px;}
.biao{display: none;position: absolute;}
            
            
.biao ul li{width:180px; height:40px;line-height: 40px;background-color: #299aef;position: relative;}
.biao ul li .pa1{color:#fff;display: block;color: #fff;cursor: pointer;line-height:40px;overflow: hidden;font-size: 14px;font-family: microsoft yahei;font-weight: 400;margin-left: 47px;}
.biao ul li span{position: absolute;left: 15px;top: 10px;width: 24px;height: 24px; background:url(img/pop.gif) no-repeat 0px 0px;}
.biao ul li .pi2{background-position: 0px -40px}
.biao ul li .pi3{background-position: 0px -80px}
.biao ul li .pi4{background-position: 0px -120px}
.biao ul li .pi5{background-position: 0px -160px}
.biao ul li .pi6{background-position: 0px -200px}
.biao ul li .pi7{background-position: 0px -240px}
.biao ul li .pi8{background-position: 0px -280px}
.biao ul li .pi9{background-position: 0px -320px}
.biao ul li .pi10{background-position: 0px -360px}
.biao ul li div{position: absolute;background:#fff;width:1010px; height:400px; border-right: 1px solid #e8e8e7;border-bottom: 1px solid #e8e8e7;display: none;}
.biao ul li .pi1bottom{top:0px; left:175px;}
.biao ul li:nth-child(1):hover .pi1bottom{display: block;}
.biao ul li:nth-child(1):hover{margin-left:5px;width:175px;background:#fff;}
.biao ul li:nth-child(1):hover a{color:#1985d9;}

.biao ul li .pi2bottom{top:-40px; left:175px;}
.biao ul li:nth-child(2):hover .pi2bottom{display: block;}
.biao ul li:nth-child(2):hover{margin-left:5px;width:175px;background:#fff;}
.biao ul li:nth-child(2):hover a{color:#1985d9;}

.biao ul li .pi3bottom{top:-80px; left:175px;}
.biao ul li:nth-child(3):hover .pi3bottom{display: block;}
.biao ul li:nth-child(3):hover{margin-left:5px;width:175px;background:#fff;}
.biao ul li:nth-child(3):hover a{color:#1985d9;}

.biao ul li .pi4bottom{top:-120px; left:175px;}
.biao ul li:nth-child(4):hover .pi4bottom{display: block;}
.biao ul li:nth-child(4):hover{margin-left:5px;width:175px;background:#fff;}
.biao ul li:nth-child(4):hover a{color:#1985d9;}

.biao ul li .pi5bottom{top:-160px; left:175px;}
.biao ul li:nth-child(5):hover .pi5bottom{display: block;}
.biao ul li:nth-child(5):hover{margin-left:5px;width:175px;background:#fff;}
.biao ul li:nth-child(5):hover a{color:#1985d9;}

.biao ul li .pi6bottom{top:-200px; left:175px;}
.biao ul li:nth-child(6):hover .pi6bottom{display: block;}
.biao ul li:nth-child(6):hover{margin-left:5px;width:175px;background:#fff;}
.biao ul li:nth-child(6):hover a{color:#1985d9;}

.biao ul li .pi7bottom{top:-240px; left:175px;}
.biao ul li:nth-child(7):hover .pi7bottom{display: block;}
.biao ul li:nth-child(7):hover{margin-left:5px;width:175px;background:#fff;}
.biao ul li:nth-child(7):hover a{color:#1985d9;}

.biao ul li .pi8bottom{top:-280px; left:175px;}
.biao ul li:nth-child(8):hover .pi8bottom{display: block;}
.biao ul li:nth-child(8):hover{margin-left:5px;width:175px;background:#fff;}
.biao ul li:nth-child(8):hover a{color:#1985d9;}

.biao ul li .pi9bottom{top:-320px; left:175px;}
.biao ul li:nth-child(9):hover .pi9bottom{display: block;}
.biao ul li:nth-child(9):hover{margin-left:5px;width:175px;background:#fff;}
.biao ul li:nth-child(9):hover a{color:#1985d9;}

.biao ul li .pi10bottom{top:-360px; left:180px;}
.biao ul li:nth-child(10):hover .pi10bottom{display: block;}
.biao ul li:nth-child(10):hover{padding-left:5px;width:180px;background:#fff;border-bottom: 1px solid #e8e8e7;}
.biao ul li:nth-child(10):hover a{color:#1985d9;}


.fenleft{float:left;}
.fenleft a{padding: 0px 15px;display: block;font-size: 15px; height: 34px;line-height: 34px;color: #424242;float:left;}

.pi1{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;}
.pi2{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -40px;}
.pi3{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -80px;}
.pi4{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -120px;}
.pi5{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -160px;}
.pi6{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -200px;}
.pi7{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -240px;}
.pi8{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -280px;}
.pi9{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -320px;}
.pi10{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -360px;}



.biao dl dd{ float: left;width:252px; height:40px; font-weight: bold;}
.biao dl dt{float:right; width:252px; height:40px;}
.biao dl dt a{ font-size:12px;}


.center{width:1190px; margin:0 auto; color:#666;}
.center h1{padding-left:30px; height:35px; line-height:35px; font-size:24px; margin:0px;background:url(../img/detail.jpg/gouwu.jpg) no-repeat;}
.cen_bom{height:250px;background:#efefef; line-height: 10px; text-align: center;padding-top: 80px;}
.cen_bom span{padding-left: 25px;}

.quanwei{height:112px; width:1190px; margin:0 auto;padding-top: 25px;
margin-bottom: 15px;}
.quanwei a{display: block; width:119px; height: 87px; text-align: center;float:left; }
.quanwei a em{display: block; width:48px; height:49px;margin:0 auto;}
.quanwei a span{font-size:12px;line-height: 38px; font-size:14px;color:#5e5e5e;}



.quanwei a .wei1{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: 0 -3px; }
.quanwei a .wei2{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -129px -3px;}
.quanwei a .wei3{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -64px -3px;}
.quanwei a .wei4{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -194px -3px;}
.quanwei a .wei5{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -260px -3px;}
.quanwei a .wei6{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -326px -3px;}
.quanwei a .wei7{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -391px -3px;}
.quanwei a .wei8{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -458px -3px;}
.quanwei a .wei9{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -523px -3px;}
.quanwei a .wei10{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -590px -3px;}

.xinshou{width:100%; margin:0 auto; background:#0083ce url(../img/ft_bg.gif) no-repeat right top;}
.xin{height:220px; width:1190px; margin:0 auto; color:#fff;}
.xin a{color:#fff;}
.xin ul{float: left;}
.xin ul li{float: left; width:100px; margin: 28px 25px 0 10px;}
.xin ul li img{width:85px; height:85px;}
.xin ul li h5 a{font-size:13px; font-weight: bold;}
.xin ul li p{font-size:12px; }


.bottom_a{width: 1190px;margin: 10px auto; overflow: hidden;}
.bom ul li{float:left;padding-right: 20px;}
.bom ul li a{font-size:12px;color:#5e5e5e; line-height:30px;}

.bottom{width:100%; height:100px; margin:0 auto; text-align: center; line-height:100px; font-size:12px; color:#5e5e5e;}

body{position: relative;}
.maodian{height:208px; width:52px; position:fixed;right:20px; bottom:20px;}
.maodian .mao1{width:52px; height:52px;background:url(../img/5a3980a540b574f984a70a7eb5fe641b.png) 0px 0px;}
.maodian .mao1 a{display: block;width:52px; height:53px; }
.maodian .mao2{width:52px; height:52px;background:url(../img/5a3980a540b574f984a70a7eb5fe641b.png) 0px 52px;}
.maodian .mao2 a{display: block;width:52px; height:52px; }
.maodian .mao2 a em{display: none;}
.maodian .mao2 a:hover em{display: block;height: 52px;width: 52px;line-height: 20px;text-align: center;background: #f00;color: #fff;font-size: 15px;padding: 6px;}

.maodian .mao3{width:52px; height:52px;background:url(../img/5a3980a540b574f984a70a7eb5fe641b.png) 0px 153px;}
.maodian .mao3 a{display: block;width:52px; height:52px; }
.maodian .mao3 a em{display: none;}
.maodian .mao3 a:hover em{display: block;height: 52px;width: 52px;line-height: 20px;text-align: center;background: #f00;color: #fff;font-size: 15px;padding: 6px;}

.maodian .mao4{width:52px; height:52px;background:url(../img/5a3980a540b574f984a70a7eb5fe641b.png) 0px 204px;}
.maodian .mao4 a{display: block;width:52px; height:51px; }
.maodian .mao4 a em{display: none;}
.maodian .mao4 a:hover em{display: block;height: 52px;width: 52px;line-height: 20px;text-align: center;background: #f00;color: #fff;font-size: 15px;padding: 6px;}


