body,ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6,input,fieldset,legend,td,th,form,textarea,header,section,article,aside,figure,footer,nav{margin:0;padding:0}
li{list-style:none}
img{border:none;}

h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
em,i{font-style:normal}
table{border-collapse:collapse}
a{text-decoration:none}
fieldset{border:none}
body a:hover{text-decoration:none;}
#top{height:40px; background:#f9f9f9; border-bottom:1px solid #D9D9D9;}
#daohang{height:40px; margin:0 auto; line-height:40px; font-size: 12px; width:1190px;}

#dao1,#dao2{float: left;}

#dao1{color:#999;}
#dao1 a{color:red;}
#dao2 img{ line-height:40px;}
#dao2 {float: right;}
#dao2 ul li{float:left;}
#dao2 ul li:nth-child(2) ul li{float:none;}
#dao2 ul li a{border-left:1px solid #D9D9D9;padding:0 10px; color:#999; }
#dao2 ul li a:hover{color: deepskyblue;}

#dao2 ul li:nth-child(5) a:hover{color:#999;}
#dao2 ul li:nth-child(1) a{border:none;}

#dao2 .dao201{height:36px; width:95px; position: relative;  line-height: 40px; border: 1px solid #f9f9f9 ;}

#dao2 ul li:nth-child(2) ul{position: absolute;background:#fff; display: none; border: 1px solid #D9D9D9 ; border-top: none; top:35px; width:95px; left:-1px;}
#dao2 ul li:nth-child(2) ul li a{ border:none;font-size:12px;}


#dao2 ul li:nth-child(2):hover ul{display: block;height:125px; z-index: 10;}

/*#dao2 ul li:nth-child(2):hover{background:#fff;margin-top:4px;border-bottom: none; }*/
#dao2 ul .dao201 .dao201_1{background: url(../img/qian.png) no-repeat left top;background-position: 70px 5px; padding-right: 20px;}
#dao2 ul .dao201:hover .dao201_1{background-position: 70px -20px;}

 
#dao2 ul .dao201:hover{background:#fff; border: 1px solid #D9D9D9 ; border-bottom: none; margin-top:4px;line-height: 31px; width:95px;}




#dao2 ul li:nth-child(5){position: relative; height:36px; line-height: 37px; width:70px; border:1px solid #f9f9f9 ;}
#dao2 ul li:nth-child(5) a span img{margin-bottom: 1px;}
#dao2 ul li:nth-child(5) ul{width:190px; height:190px; background:#fff; border:1px solid #D9D9D9 ; line-height: 190px; position: absolute; right:-95px;border-top:none; top: 39px;display: none;}
#dao2 ul li:nth-child(5) ul li img{margin-left:18px;width:150px; height:150px;}

#dao2 ul li:nth-child(5):hover ul{display: block;height:194px;top:35px;}
 /* #dao2 ul li:nth-child(5):hover{ background:#fff; border:1px solid #D9D9D9 ;margin-top:4px; border-bottom: none; }*/
 #dao2 ul li:nth-child(5):hover{background:#fff; border: 1px solid #D9D9D9 ; margin-top:4px;line-height: 30px;border-bottom: none; z-index: 10;}


.tu {width:1190px; margin:0 auto;}

#sousuo{padding-top:30px;width:1220px; margin:0 auto;}
#sou2{text-align: center; margin-left:60px;}
#sou2 input{border:#0083FF solid 3px; height:36px; width:410px; padding-top:4px;}
#sou2 button{border:none; height:36px;width:92px; background:#0083FF; font-size:20px; color:#fff;}
#sou2 p{text-align: left; padding-left: 32px; color:#B9B9B9; font-size:12px; padding-top:10px;}
#sou2 p a{color:firebrick;font-size:12px;}
#sou2 p a:nth-child(3){color:#999;}
#sou2 p a:nth-child(4){color:#999;}
#sou2 p a:nth-child(3):hover{color:#299aef;}
#sou2 p a:nth-child(4):hover{color:#299aef;}


#sou3{border:#E9E9E9 1px solid; height:38px; width:132px; background:#F9F9F9; float: right;}
#sou3 a{font-size:12px; line-height:38px ; color:#9D9D9D; position: relative;}
#sou3 a img{margin-bottom: 10px; padding-right: 4px;}
#sou3 a:hover b{ display: block;}
#sou3 a b{display: block; position:absolute;height:48px; width:320px; left:-204px; top:25px; border:red 1px solid; border-top:red 2px solid; display: none;}

.lunbotop{width:1190px; margin:0 auto; height:34px;line-height: 34px; border-bottom: 2px solid #1985d9;}
.lunbotop ul li{float:left;}
.lunbotop ul li a{color:#424242; padding:0 15px; font-size:13px;}
.lunbotop ul li:nth-child(1){height:34px;width:180px; background:#1985d9;}
.lunbotop ul li:nth-child(1) a{color:#fff;}
.lunbotop ul li a:hover{color:#299aef;}
.lunbotop ul li:nth-child(1) a:hover{color:#fff;}


.lunbo{height:400px; width:1190px; margin:0 auto;}

.lunbo ul{background:#299aef; width:180px; position: relative;}
.lunbo ul li{height:40px; line-height:40px; position: relative;}
.lunbo ul li a{padding-left:15px; color:#fff;}

.lunbo ul li ol{position: absolute; width:1010px; height:400px; background:#fff; top:0; left:180px; z-index: 100;}

.lunbo ul li ol li{float: left;width:252px; font-size:12px; line-height: 20px;padding-top:8px;}
.lunbo ul li ol li a{padding-left:0;}
.lunbo span{margin-left: 47px;font-size:14px; font-weight: 400;}
#shou1{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;
}
#shou2{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -40px;}
#shou3{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -80px;}
#shou4{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -120px;}
#shou5{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -160px;}
#shou6{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -200px;}
#shou7{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -240px;}
#shou8{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -280px;}
#shou9{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -320px;}
#shou10{background:url(../img/pop.gif)no-repeat 0px 0px; position:absolute; left:15px; top:10px; width:24px; height: 24px;background-position: 0px -360px;}







#lie1 li a{color:#5e5e5f;}
#lie1 li:nth-child(1) a{font-weight: bold;}
#lie1 li:nth-child(2) a{font-weight: bold;}
#lie1 li{padding-left:10px;}
#lie1 li:last-child b{color:#f25c15;}
#lie1{display: none;border-right:1px solid #e7e8e7;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(1):hover{background:#fff;}
.lunbo ul li:nth-child(1):hover a{ color:#1885d9;}
.lunbo ul li:nth-child(1):hover #lie1{display: block;}

#lie2{top:-40px;}
#lie2 li a{color:#5e5e5f;}

#lie2 li:nth-child(4) a{font-weight: normal;}
#lie2 li a{font-weight: bold;}
#lie2 li{padding-left:10px;}
#lie2 li b{color:#f25c15;}
#lie2{display: none;border-right:1px solid #e7e8e7;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(2):hover{background:#fff;}
.lunbo ul li:nth-child(2):hover a{ color:#1885d9;}
.lunbo ul li:nth-child(2):hover #lie2{display: block;}

#lie3{top:-80px;}
#lie3 li a{color:#5e5e5f;}
#lie3 li:nth-child(4) a{font-weight: normal;}
#lie3 li a{font-weight: bold;}
#lie3 li{padding-left:10px;}
#lie3 li b{color:#f25c15;}
#lie3{display: none;border-right:1px solid #e7e8e7;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(3):hover{background:#fff;}
.lunbo ul li:nth-child(3):hover a{ color:#1885d9;}
.lunbo ul li:nth-child(3):hover #lie3{display: block;}


#lie4{top:-120px;}
#lie4 li a{color:#5e5e5f;}
#lie4 li:nth-child(4) a{font-weight: normal;}
#lie4 li a{font-weight: bold;}
#lie4 li{padding-left:10px;}
#lie4 li b{color:#f25c15;}
#lie4{display: none;border-right:1px solid #e7e8e7;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(4):hover{background:#fff;}
.lunbo ul li:nth-child(4):hover a{ color:#1885d9;}
.lunbo ul li:nth-child(4):hover #lie4{display: block;}


#lie5{top:-160px;}
#lie5 li a{color:#5e5e5f;}
#lie5 li:nth-child(4) a{font-weight: normal;}
#lie5 li a{font-weight: bold;}
#lie5 li{padding-left:10px;}
#lie5 li b{color:#f25c15;}
#lie5{display: none;border-right:1px solid #e7e8e7;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(5):hover{background:#fff;}
.lunbo ul li:nth-child(5):hover a{ color:#1885d9;}
.lunbo ul li:nth-child(5):hover #lie5{display: block;}


#lie6{top:-200px;}
#lie6 li a{color:#5e5e5f;}
#lie6 li:nth-child(4) a{font-weight: normal;}
#lie6 li a{font-weight: bold;}
#lie6 li{padding-left:10px;}
#lie6 li b{color:#f25c15;}
#lie6{display: none;border-right:1px solid #e7e8e7;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(6):hover{background:#fff;}
.lunbo ul li:nth-child(6):hover a{ color:#1885d9;}
.lunbo ul li:nth-child(6):hover #lie6{display: block;}


#lie7{top:-240px;}
#lie7 li a{color:#5e5e5f;}
#lie7 li:nth-child(4) a{font-weight: normal;}
#lie7 li a{font-weight: bold;}
#lie7 li{padding-left:10px;}
#lie7 li b{color:#f25c15;}
#lie7{display: none;border-right:1px solid #e7e8e7;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(7):hover{background:#fff;}
.lunbo ul li:nth-child(7):hover a{ color:#1885d9;}
.lunbo ul li:nth-child(7):hover #lie7{display: block;}



#lie8{top:-280px;}
#lie8 li a{color:#5e5e5f;}
#lie8 li:nth-child(4) a{font-weight: normal;}
#lie8 li a{font-weight: bold;}
#lie8 li{padding-left:10px;}
#lie8 li b{color:#f25c15;}
#lie8{display: none;border-right:1px solid #e7e8e7;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(8):hover{background:#fff;}
.lunbo ul li:nth-child(8):hover a{ color:#1885d9;}
.lunbo ul li:nth-child(8):hover #lie8{display: block;}



#lie9{top:-320px;}
#lie9 li a{color:#5e5e5f;}
#lie9 li:nth-child(4) a{font-weight: normal;}
#lie9 li a{font-weight: bold;}
#lie9 li{padding-left:10px;}
#lie9 li b{color:#f25c15;}
#lie9{display: none;border-right:1px solid #e7e8e7;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(9):hover{background:#fff;}
.lunbo ul li:nth-child(9):hover a{ color:#1885d9;}
.lunbo ul li:nth-child(9):hover #lie9{display: block;}



#lie10{top:-360px;}
#lie10 li a{color:#5e5e5f;}
#lie10 li:nth-child(4) a{font-weight: normal;}
#lie10 li a{font-weight: bold;}
#lie10 li{padding-left:10px;}
#lie10 li b{color:#f25c15;}
#lie10{display: none;border-right:1px solid #e7e8e7;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(10):hover{background:#fff;border-bottom:1px solid #e7e8e7;}
.lunbo ul li:nth-child(10):hover a{ color:#1885d9;}
.lunbo ul li:nth-child(10):hover #lie10{ display: block;}

#myCarousel{width:750px; height:400px;}

.lun{position:absolute; top:0; left:217px;}
.center{position: relative;}



#lun_right{height:400px;width:260px; position:absolute;left:967px;top:0; border-right:1px solid #e7e8e7; height:279px;border-bottom:1px solid #e7e8e7;}
.lun_right1{width:260px; height:37px;border-bottom:1px solid #e7e8e7;color: #333;font-family: "微软雅黑";font-size: 16px; line-height:37px;} 
.lun_right1 img{padding-left: 46px;}
.lun_right2{width:260px;height:169px;padding-top: 18px;border-bottom:1px solid #e7e8e7;}
.lun_right2 a{display: block; height:64px; width: 64px; color: #5e5e5e;float:left;margin-bottom: 10px;line-height: 30px;text-align: center;}






.lun_right2 a em{height:35px; width:35px;color: #0083ce;display: block;margin: 0 auto;}

.lun_right2 a .em1{background: url(../img/icon_gonggao.png) no-repeat left top;background-position: -5px 0; }

.lun_right2 a .em2{background: url(../img/icon_gonggao.png) no-repeat left top;background-position: -50px 0;}
.lun_right2 a .em3{background: url(../img/icon_gonggao.png) no-repeat left top;background-position: -95px 0;}
.lun_right2 a .em4{background: url(../img/icon_gonggao.png) no-repeat left top;background-position: -140px 0;}
.lun_right2 a .em5{background: url(../img/icon_gonggao.png) no-repeat left top;background-position: -185px 0;}
.lun_right2 a .em6{background: url(../img/icon_gonggao.png) no-repeat left top;background-position: -230px 0;}
.lun_right2 a .em7{background: url(../img/icon_gonggao.png) no-repeat left top;background-position: -275px 0;}
.lun_right2 a .em8{background: url(../img/icon_gonggao.png) no-repeat left top;background-position: -320px 0;}


	
.more{padding-left:10px; color: #333; font-family: "微软雅黑"; font-weight: normal; font-size: 16px; line-height: 36px; height:36px; border-bottom: 1px solid #e7e8e7; margin-top:0;}
.more a{color: #e72418;font-size:12px; float: right;}
.more a:hover{color: #e72418;}
.gengxin img{padding:0 10px;margin-top: 0; margin-bottom: 0;}
.gengxin a{color: #5e5e5e; font-size:12px;}
.gengxin li{ border-bottom: 1px solid #e7e8e7;}
.gengxin{line-height: 25px;}




.shop{height:200px; width:1190px; margin:0 auto; margin-top:20px;}
.shop_left{height:150px; width:180px;float:left;position: relative; background:url(../img/clock01.png)}
.shop_left .biao1{
    position: absolute;
    top: 42px;
    left: 87px;
    height: 18px;
    width: 5px;
    background:url(../img/clock_h.png)
}
.shop_left .biao2{
    position: absolute;
    left: 72px;
    top: 57px;
    width: 19px;
    height: 5px;
    background:url(../img/clock_m.png)
}
.shop_left .biao3{
    position: absolute;
    left: 110px;
    top: 57px;
    width: 5px;
    height: 5px;
    background:#fff;
    border-radius:50%;
    transform-origin: bottom;
}
.shop_left .biao4{
    position: absolute;
    left: 86px;
    top: 56px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #1985D9;
}


.shou_img{float:right;height:150px;width:1010px;}
.shou_img  img{display:block; height:150px; float:left;margin-right:3px;}
.shou_img a:last-child img{margin-right:0;margin-left:1px;}
.shou_img  img:hover{opacity: 0.8;}


.remai{width:1190px;height:434px;margin:0 auto;border-top:2px solid #fc4e4d;}
.remai .re1{height:402px; width:180px;float:left;}
.remai .re1 li{width:180px;}
.remai .re1 li:first-child{height:85px; background:#fc4e4d;border-bottom: 1px solid #bf6766;border-left: 1px solid #bf6766; font-size:20px; line-height:85px; text-align:center;color:#f1ffea;}
.remai .re1 li:last-child img{height:317px; width:180px;}
.remai .re2{width:1010px; height:402px; float: right;}
.remai .re2 li{height:201px;width:202px;float:left;border-right: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3; text-align: center;}
.remai .re2 img{width:130px; height:130px; margin-top:15px;}
.remai .re2 h5{font-size:13px; font-weight: normal;width:180px; overflow: hidden;}
.remai .re2 h5 a{height:15px;display: block;color:#4d4d4d;}
.remai .re2 p{font-size:14px; font-weight: bold;color:#c82c2d;}



.yifen{width:1190px; height:130px; margin:0 auto;}
.yifen img{width:1190px; height:100px;}


.chuchuang{width:1190px;height:434px;margin:0 auto;border-top:2px solid #fabc05;}
.chuchuang .chu1{height:402px; width:180px;float:left;}
.chuchuang .chu1 li{width:180px;}
.chuchuang .chu1 li:first-child{height:85px; background:#fabc05; font-size:20px; line-height:85px; text-align:center;color:#f1ffea;}
.chuchuang .chu1 li:last-child img{height:317px; width:180px;}
.chuchuang .chu2{width:1010px; height:402px; float: right;}
.chuchuang .chu2 li{height:201px;width:202px;float:left;border-right: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3; text-align: center;}
.chuchuang .chu2 img{width:130px; height:130px; margin-top:15px;}
.chuchuang .chu2 h5{font-size:13px; font-weight: normal;width:180px; overflow: hidden;}
.chuchuang .chu2 h5 a{height:15px;display: block;color:#4d4d4d;}
.chuchuang .chu2 p{font-size:14px; font-weight: bold;color:#c82c2d;}

.quanwei{height:112px; width:1190px; margin:0 auto;padding-top: 25px;
margin-bottom: 15px;}
.quanwei a{display: block; width:119px; height: 87px; text-align: center;float:left; }
.quanwei a em{display: block; width:48px; height:49px;margin:0 auto;}
.quanwei a span{font-size:12px;line-height: 38px; font-size:14px;color:#5e5e5e;}



.quanwei a .wei1{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: 0 -3px; }
.quanwei a .wei2{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -129px -3px;}
.quanwei a .wei3{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -64px -3px;}
.quanwei a .wei4{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -194px -3px;}
.quanwei a .wei5{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -260px -3px;}
.quanwei a .wei6{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -326px -3px;}
.quanwei a .wei7{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -391px -3px;}
.quanwei a .wei8{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -458px -3px;}
.quanwei a .wei9{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -523px -3px;}
.quanwei a .wei10{background: url(../img/icon_gonggaob.png) no-repeat left top;background-position: -590px -3px;}

.xinshou{width:100%; margin:0 atuo; background:#0083ce url(../img/ft_bg.gif) no-repeat right top;}
.xin{height:220px; width:1190px; margin:0 auto; color:#fff;}
.xin a{color:#fff;}
.xin ul{float: left;}
.xin ul li{float: left; width:100px; margin: 28px 25px 0 10px;}
.xin ul li img{width:85px; height:85px;}
.xin ul li h5 a{font-size:13px; font-weight: bold;}
.xin ul li p{font-size:12px; }


.bottom_a{width: 1190px;margin: 10px auto; overflow: hidden;}
.bom ul li{float:left;padding-right: 20px;}
.bom ul li a{font-size:12px;color:#5e5e5e; line-height:30px;}

.bottom{width:100%; height:100px; margin:0 auto; text-align: center; line-height:100px; font-size:12px; color:#5e5e5e;}

body{position: relative;}
.maodian{height:208px; width:52px; position:fixed;right:20px; bottom:20px;}
.maodian .mao1{width:52px; height:52px;background:url(../img/5a3980a540b574f984a70a7eb5fe641b.png) 0px 0px;}
.maodian .mao1 a{display: block;width:52px; height:53px; }
.maodian .mao2{width:52px; height:52px;background:url(../img/5a3980a540b574f984a70a7eb5fe641b.png) 0px 52px;}
.maodian .mao2 a{display: block;width:52px; height:52px; }
.maodian .mao2 a em{display: none;}
.maodian .mao2 a:hover em{display: block;height: 52px;width: 52px;line-height: 20px;text-align: center;background: #f00;color: #fff;font-size: 15px;padding: 6px;}

.maodian .mao3{width:52px; height:52px;background:url(../img/5a3980a540b574f984a70a7eb5fe641b.png) 0px 153px;}
.maodian .mao3 a{display: block;width:52px; height:52px; }
.maodian .mao3 a em{display: none;}
.maodian .mao3 a:hover em{display: block;height: 52px;width: 52px;line-height: 20px;text-align: center;background: #f00;color: #fff;font-size: 15px;padding: 6px;}

.maodian .mao4{width:52px; height:52px;background:url(../img/5a3980a540b574f984a70a7eb5fe641b.png) 0px 204px;}
.maodian .mao4 a{display: block;width:52px; height:51px; }
.maodian .mao4 a em{display: none;}
.maodian .mao4 a:hover em{display: block;height: 52px;width: 52px;line-height: 20px;text-align: center;background: #f00;color: #fff;font-size: 15px;padding: 6px;}

